<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="siftMsForm" (ngSubmit)="onSubmit()">
                        <div class="form theme-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label>Blanc Positif</label>
                                        <input class="form-control" type="text" formControlName="blanc_positif"
                                            [ngClass]="{ 'is-invalid' : (blanc_positif?.touched || validate) && blanc_positif?.errors , 'is-valid' : !blanc_positif?.errors}">
                                        <div class="invalid-feedback"
                                            *ngIf="(blanc_positif?.touched || validate) && blanc_positif?.errors">
                                            Le blanc positif est requis.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label>Blanc Négatif</label>
                                        <input class="form-control" type="text" formControlName="blanc_negatif"
                                            [ngClass]="{ 'is-invalid' : (blanc_negatif?.touched || validate) && blanc_negatif?.errors , 'is-valid' : !blanc_negatif?.errors}">
                                        <div class="invalid-feedback"
                                            *ngIf="(blanc_negatif?.touched || validate) && blanc_negatif?.errors">
                                            Le blanc négatif est requis.
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label>Fromage Positif</label>
                                        <input class="form-control" type="text" formControlName="fromage_positif"
                                            [ngClass]="{ 'is-invalid' : (fromage_positif?.touched || validate) && fromage_positif?.errors , 'is-valid' : !fromage_positif?.errors}">
                                        <div class="invalid-feedback"
                                            *ngIf="(fromage_positif?.touched || validate) && fromage_positif?.errors">
                                            Le fromage positif est requis.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label>Fromage Négatif</label>
                                        <input class="datepicker-here form-control" type="text"
                                            formControlName="fromage_negatif"
                                            [ngClass]="{ 'is-invalid' : (fromage_negatif?.touched || validate) && fromage_negatif?.errors , 'is-valid' : !fromage_negatif?.errors}">
                                        <div class="invalid-feedback"
                                            *ngIf="(fromage_negatif?.touched || validate) && fromage_negatif?.errors">
                                            Le fromage négatif est requis.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label>Ajoutez le fichier SIFT-MS</label>
                                        <form class="dropzone dz-clickable customize-dropzone">
                                            <dropzone [config]="Config" (error)="onUploadError($event)"
                                                (success)="onUploadSuccess($event)" [message]="text">
                                            </dropzone>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-end">
                                        <button class="btn btn-success me-3" href="javascript:void(0)"
                                            [disabled]="!siftMsForm.valid">Ajouter
                                        </button>
                                        <a class="btn btn-danger" href="javascript:void(0)">Annuler</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>