<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                @if (!siftMs) {
                <div class="card-body">
                    <form [formGroup]="siftMsForm" (ngSubmit)="onSubmit()">
                        <div class="form theme-form">
                            <h4 class="page-title">Ajout du fichier SIFT-MS pour l'echantillon {{fromage?.numeroEchan}}
                            </h4>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label>Blanc Positif</label>
                                        <input class="form-control" type="text" formControlName="blanc_positif"
                                            [ngClass]="{ 'is-invalid' : (blanc_positif?.touched || validate) && blanc_positif?.errors , 'is-valid' : !blanc_positif?.errors}">
                                        <div class="invalid-feedback"
                                            *ngIf="(blanc_positif?.touched || validate) && blanc_positif?.errors">
                                            Le blanc positif est requis.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label>Blanc Négatif</label>
                                        <input class="form-control" type="text" formControlName="blanc_negatif"
                                            [ngClass]="{ 'is-invalid' : (blanc_negatif?.touched || validate) && blanc_negatif?.errors , 'is-valid' : !blanc_negatif?.errors}">
                                        <div class="invalid-feedback"
                                            *ngIf="(blanc_negatif?.touched || validate) && blanc_negatif?.errors">
                                            Le blanc négatif est requis.
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label>Fromage Positif</label>
                                        <input class="form-control" type="text" formControlName="fromage_positif"
                                            [ngClass]="{ 'is-invalid' : (fromage_positif?.touched || validate) && fromage_positif?.errors , 'is-valid' : !fromage_positif?.errors}">
                                        <div class="invalid-feedback"
                                            *ngIf="(fromage_positif?.touched || validate) && fromage_positif?.errors">
                                            Le fromage positif est requis.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label>Fromage Négatif</label>
                                        <input class="datepicker-here form-control" type="text"
                                            formControlName="fromage_negatif"
                                            [ngClass]="{ 'is-invalid' : (fromage_negatif?.touched || validate) && fromage_negatif?.errors , 'is-valid' : !fromage_negatif?.errors}">
                                        <div class="invalid-feedback"
                                            *ngIf="(fromage_negatif?.touched || validate) && fromage_negatif?.errors">
                                            Le fromage négatif est requis.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label>Ajoutez le fichier SIFT-MS</label>
                                        <label for="file" class="drop-container" id="dropcontainer">
                                            <span class="drop-title">Déposer le fichier ici</span>
                                            ou
                                            <input type="file" formControlName="file" id="file"
                                                accept="application/pdf,application/xml" required
                                                (change)="onFileChange($event)"
                                                [ngClass]="{ 'is-invalid' : (file?.touched || validate) && file?.errors , 'is-valid' : !file?.errors}" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-success me-3"
                                            [disabled]="!siftMsForm.valid">Ajouter
                                        </button>
                                        <button type="reset" class="btn btn-danger" (click)="reset()">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                }
                @else {
                <div class="row mr-5 ml-5">
                    <div class="card m-5 p-3">
                        <div class="card-body">
                            <div align="center">Un Fichier SIFT-MS existe déjà pour l'échantillon
                                {{fromage.numeroEchan}} !</div>
                            <br>
                            <table class="table table-bordered table-striped table-hover" id="memoire">
                                <thead>
                                    <tr>
                                        <th>Blanc Positif</th>
                                        <th>Blanc Négatif</th>
                                        <th>Fromage Positif</th>
                                        <th>Fromage Négatif</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ siftMs.blanc_positif }}</td>
                                        <td>{{ siftMs.blanc_negatif }}</td>
                                        <td>{{ siftMs.fromage_positif }}</td>
                                        <td>{{ siftMs.fromage_negatif }}</td>
                                        <td>
                                            <a (click)="telecharger(siftMs._id)" class="btn btn-info">
                                                <i class="fas fa-file-download"></i>&nbsp; Télécharger
                                            </a> &nbsp; &nbsp;
                                            <button (click)="delete(siftMs._id)"
                                                class="btn btn-danger">Supprimer</button>

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>