<div class="card">
  <div class="card-header">
    <h3>Liste des Utilisateurs</h3>
  </div>
  <div class="row">
    <div class="col-lg-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="display dataTable" id="userTable" style="text-align: center;">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Rôle</th>
                  <th>Code Producteur</th>
                  <th>Bloqué</th>
                  <th>Mettre à jour</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.nom }}</td>
                  <td>{{ user.prenom }}</td>
                  <td>{{ user.role }}</td>
                  <td>{{ user.codeProducteur }}</td>
                  <td>
                    <button [ngClass]="user.isBlocked ? 'btn btn-outline-success-2x' : 'btn btn-outline-danger-2x'"
                      (click)="user.isBlocked ? debloquer(user._id) : bloquer(user._id)"
                      [disabled]="user.role === 'ADMIN'">
                      {{ user.isBlocked ? 'Débloquer' : 'Bloquer' }}
                    </button>
                  </td>
                  <td>

                    <button (click)="update(user._id)" class="btn btn-warning" style=" color: white">
                      <i class="fa-solid fa-wrench"></i>&nbsp;
                      <span>Modifier</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>