<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div><a class="logo">
                            <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="page de connexion">
                            <img class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="page de connexion"></a>
                    </div>
                    <div class="login-main">
                        <form class="row g-3 needs-validation custom-input">
                            <h3>Se connecter à un compte</h3>
                            <p>Entrez votre e-mail et mot de passe pour vous connecter</p>
                            <div class="form-group">
                                <label class="col-form-label">Adresse e-mail</label>
                                <input class="form-control" type="email" placeholder="Test@gmail.com">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Mot de passe</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" type="password"
                                        name="login[password]" required="" placeholder="*********"
                                       >
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="text-muted" for="checkbox1">Se souvenir du mot de passe</label>
                                </div><a class="link" href="javascript:void(0)">Mot de passe oublié ?</a>
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" type="submit">Se connecter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
