<div class="container-fluid default-dashboard">
    <div class="row">
        <!-- Carte de bienvenue -->
        <div class="col-xl-4 col-lg-4 col-md-8 mb-6">
            <div class="card welcome-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h1>Bonjour, {{prenom}} {{nom}}.</h1>
                            <p>Bienvenue dans votre tableau de bord.</p>
                            <a class="btn btn-primary" [routerLink]="['/user/profile']"
                                routerLinkActive="router-link-active">Mon profil</a>
                        </div>
                        <div class="flex-shrink-0 ms-4">
                            <img src="assets/images/dashboard/welcome.png" alt="Bienvenue" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carte information-->
        <div class="col-xxl-6 col-xl-7 col-lg-7 box-col-7 ecommerce-dashboard equal-height">
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                    <div class="card total-sales">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-8 xl-12 col-md-8 col-sm-12 col box-col-12">
                                    <div class="d-flex" [ngClass]="TotalEchantillon.class">
                                        <span>
                                            <svg>
                                                <use
                                                    [attr.xlink:href]="'assets/svg/icon-sprite.svg#' + TotalEchantillon.icon">
                                                </use>
                                            </svg>
                                        </span>
                                        <div class="flex-shrink-0">
                                            <h4>{{ TotalEchantillon.price }}</h4>
                                            <h6>{{ TotalEchantillon.title }}</h6>
                                            <div class="arrow-chart">
                                                <svg>
                                                    <use
                                                        [attr.xlink:href]="'assets/svg/icon-sprite.svg#' + TotalEchantillon.arrowicon">
                                                    </use>
                                                </svg>
                                                <h5 [ngClass]="'font-' + TotalEchantillon.color">{{
                                                    TotalEchantillon.percentage }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-4 p-0 ecommerce-chart">
                                    <div [ngClass]="TotalEchantillon.chartclass">
                                        <apx-chart [series]="TotalEchantillon.series" [chart]="TotalEchantillon.chart"
                                            [stroke]="TotalEchantillon.stroke" [colors]="TotalEchantillon.colors"
                                            [states]="TotalEchantillon.states"
                                            [plotOptions]="TotalEchantillon.plotOptions"
                                            [dataLabels]="TotalEchantillon.dataLabels" [grid]="TotalEchantillon.grid"
                                            [yaxis]="TotalEchantillon.yaxis" [xaxis]="TotalEchantillon.xaxis"
                                            [legend]="TotalEchantillon.legend" [fill]="TotalEchantillon.fill"
                                            [tooltip]="TotalEchantillon.tooltip" [markers]="TotalEchantillon.markers">
                                        </apx-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 ">
                    <div class="card total-sales">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-8 xl-12 col-md-8 col-sm-12 col box-col-12">
                                    <div class="marquee">
                                        <p>Les fromages artisanaux, comme l'Ossau-Iraty, offrent une richesse aromatique unique influencée par leur production traditionnelle. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>