<div class="container" id="grad1">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="text-center">Noter les intensités de perception</h2>
                    <br>
                    <div class="card-body">
                        <form id="msform">
                            <div class="mb-4">
                                <label class="form-label">Juge :</label>
                                <input type="text" class="form-control" placeholder="Nom du juge">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Test :</label>
                                <input type="text" class="form-control" value="TIPIC 13/06/2024 compar" readonly>
                            </div>

                            <!-- Section for Sliders -->
                            <div>
                                <div class="mb-3">
                                    <label class="slider-label">Sel</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>

                                <div class="mb-3">
                                    <label class="slider-label">Végétal fourrage</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>

                                <div class="mb-3">
                                    <label class="slider-label">Végétal aromatique</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>

                                <div class="mb-3">
                                    <label class="slider-label">Fruit frais</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>

                                <div class="mb-3">
                                    <label class="slider-label">Fruit sec</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>
                            </div>

                            <!-- Section for Checkbox -->
                            <div class="mb-4">
                                <h4 class="slider-label">Fruits à cocher :</h4>
                                <div class="d-flex flex-wrap">
                                    <div class="form-check me-3">
                                        <input class="form-check-input" type="checkbox" id="noisette">
                                        <label class="form-check-label" for="noisette">Noisette</label>
                                    </div>
                                    <div class="form-check me-3">
                                        <input class="form-check-input" type="checkbox" id="noix">
                                        <label class="form-check-label" for="noix">Noix</label>
                                    </div>
                                    <div class="form-check me-3">
                                        <input class="form-check-input" type="checkbox" id="chataigne">
                                        <label class="form-check-label" for="chataigne">Châtaigne</label>
                                    </div>
                                    <div class="form-check me-3">
                                        <input class="form-check-input" type="checkbox" id="amande">
                                        <label class="form-check-label" for="amande">Amande</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Section for Sliders -->
                            <div>
                                <div class="mb-3">
                                    <label class="slider-label">Legume Bouilli</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>

                                <div class="mb-3">
                                    <label class="slider-label">Sous-Bois</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>

                                <div class="mb-3">
                                    <label class="slider-label">Terréfié biscuit</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>

                                <div class="mb-3">
                                    <label class="slider-label">Typicité brebis</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>

                                <div class="mb-3">
                                    <label class="slider-label">lacté frais</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>
                                <div class="mb-3">
                                    <label class="slider-label">lactique acide</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>
                                <div class="mb-3">
                                    <label class="slider-label">Dérive</label>
                                    <div class="absent-intense">
                                        <span>Absent</span>
                                        <span>Moyen</span>
                                        <span>Intense</span>
                                    </div>
                                    <input type="range" class="form-range slider" min="0" max="10">
                                </div>
                            </div>
                            <!--Bouton de soumission -->
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Soumettre</button>
                            </div>
                         </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>